%header
  %nav#navbar.navbar.is-fixed-top.has-shadow
    .container
      .navbar-brand
        %a.navbar-item{:href => "/"}
          =image_tag("luisosnet.png", border: 0, class: 'logo-brand', alt: "#{t('.company_name')}")
